<ion-content [fullscreen]="true" class='ion-padding'>
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-img src="../../assets/icon/logo.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h4>Saiba a melhor opção para o abastecimento do seu carro</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Preço Alcool</ion-label>
          <ion-input type="number" placeholder="1.90" [(ngModel)]="precoAlcool"></ion-input>
        </ion-item><hr>

        <ion-item>
          <ion-label position="stacked">Preço Gasolina</ion-label>
          <ion-input type="number" placeholder="2.90" [(ngModel)]="precoGasolina"></ion-input>
        </ion-item><hr>

        <ion-button expand="full" (click)="calcular()">Calcular</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h5 class="ion-text-center">{{resultado}}</h5>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
